<!DOCTYPE html>
<html>
<head>
 <title>Simple Messager</title>
<!-- Mobile viewport optimized -->
	<meta name="viewport" content="width=device-width">
<!-- CSS -->
    <link href="bootstrap.css" rel="stylesheet" type="text/css" />

<!-- CSS Own -->
<link href="style.css" rel="stylesheet" type="text/css" />

<!--Scripts-->
 	<script src="jquery-1.11.3.js" type="text/javascript"></script>
 	<script src="bootstrap.js" type="text/javascript"></script>
<!--My own Scripts-->
 	<script src="script.js" type="text/javascript"></script>


</head>
<body onload='loadPage("/login","#MainField")'>
<div id='MainField'></div>

</html>
</body>